{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
    "rules": {
      "no-undef": [ 1 ],
      "indent": ["error", 2],
      "@typescript-eslint/no-empty-function": 0
    }
  }