@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.home {
  background: url('../../../assets/background.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;

  a {
  	text-decoration: none;
  	color: inherit;
  }
}

.title {
  font-family: 'Montserrat', sans-serif !important; /* todo: get rid of !importants */ 
}